/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
      
}

html, body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

/* Header Styling */
header {
    background-color: #f1bcc5;
    color: #4e4e4e;
    padding: 1em 0;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.2em;
    padding-top: 0.5em;
}

/* Subheader */
.subheader {
    background-color: #4e4e4e;
    display: flex;  
    justify-content: center;    
    padding: 0.5em 0;

}


h2 {
    color: #f9f9f9;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
 
}

/* Main Section */
main {
    margin: 0 auto;
    width: 70%;

}


/* Game Section Layout */
.game {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.rounds {
    display: flex;
    justify-content: center;  
    align-items: center;   
    margin-top: 50px;              
    text-align: center;
    font-size: 1.5em;
  }

  h3 {
    margin: 0; /* Remove any default margin */
    text-align: center; /* Ensures the text is centered if it's a block element */
    color: #353535;
  }
  

.english-words, .japanese-words {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    width: 25%; 
}



button {
    background-color: rgb(241, 188, 197);
    border: 1px solid #353535; 
    border-radius: 10px;
    box-sizing: border-box;
    color: #4e4e4e;
    cursor: pointer;
    font-size: 1.5em;
    overflow-wrap: break-word; 
    padding: 10px 20px;
    text-align: center; 
    white-space: normal; 
    width: 30%;
}


button:hover, .end-game-button:hover {
    background-color: #f7aab8;
    outline: none;
}

button:focus, .end-game-button:focus {
    background-color: #f7aab8;
    outline: none; 
}

button.word {
    align-items: center; 
    background-color: #f3d2d8;
    box-sizing: border-box; 
    cursor: pointer;
    display: flex; 
    font-size: 1.4em; 
    justify-content: center; 
    height: 60px; 
    margin: 5px 0;
    padding: 60px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 200px; 
}

button.word:hover {
    background-color: #f7aab8;
}


button.selected {
    background-color: #f7aab8;
}

button.correct {
    background-color: #cccccc;
    color: black;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
}

button.correct:hover {
    background-color: #cccccc;
    opacity: 0.3;
}

button.incorrect {
    background-color: #f8d7da;
}


/* Apply new styles for the end game buttons */


/* Style buttons */

#end-game-buttons {
    align-items: center;
    display: flex;
    flex-direction: row; 
    gap: 50px; 
    justify-content: center;
    left: 50%;
    position: fixed;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/* Style buttons */
.end-game-button {
    background-color: #f3d2d8;
    border: 1px solid #353535;
    border-radius: 8px;
    color: #4e4e4e;
    cursor: pointer;
    font-size: 1.3em;
    height: auto;
    padding: 15px 30px 50px;
    transition: background-color 0.3s ease;
    width: 300px;
}


/* Style for the link */
.back-to-conversation, .back-to-main {
    text-align: center;
}

.back-to-conversation a, .back-to-main a  {
    color: #353535; 
    font-size: clamp(0.9rem, 2.5vw, 1em); 
    font-weight: bold; 
    line-height: 3.5em;
    text-decoration: none; 
    transition: color 0.3s ease; 

}

.back-to-main a {
    color: gray;
    font-size: 1.2em;
}

/* Hover effect for the link */
.back-to-conversation a:hover,.back-to-main a:hover {
    color: rgb(126, 31, 255); /* Change color on hover */
}

/* Active state for the link */
.back-to-conversation a:active, back-to-main a:active  {
    color: rgb(126, 31, 255); /* Change color when clicked */
}

/* Footer Styling */
footer {
    background-color: #4e4e4e;
    color: #f9f9f9;
    margin-top: 2em;
    padding: 1em 0;
    text-align: center;
}

footer p {
    font-size: clamp(0.8rem, 2.5vw, 1em); /* Responsive footer font size */
}


/* Responsive Design */

/* For screen 350px and below */

@media (max-width: 350px) {
    .game, #end-game-buttons  {
        flex-direction: column; 
    }

    .english-words, .japanese-words {
        margin-bottom: 10px; 
        width: 100%; 

        }


    }

/* For screens 375px and below */
@media (max-width: 375px) {

    .game.section {
        justify-content: space-between; 
        margin: 15px auto;
        width: 90%;
    }

    button.word {
        box-sizing: border-box;
        font-size: 0.5em;
        height: 50px; 
    }
}

/* For screens 480px and below */
@media (max-width: 480px) {
    .game {
        justify-content: space-between; 
        margin: 15px auto;
        width: 70%;
    }

    button.word {  
        font-size: 1em;
        height: 60px; 
        overflow-wrap: break-word;
        padding: 8px;
        width: 130px; 
    }
}

/* For screens 670px and below */
@media (max-width: 670px) {
    .game {

        margin: 15px auto;
        justify-content: space-between; 
        width: 70%;
    }
}

    .rounds { 
        margin-top: 20px;              
        font-size: 1em;
    }


    button.word {
        font-size: 1em;
        height: 60px; /* Fixed height */
        padding: 10px;
        width: 140px; /* Fixed width */
    }

    #end-buttons {
        flex-direction: column; 
        gap: 10px; 
    }

    .end-game-button {
        font-size: 1em;
        height: 60px;
        width: 120px;
    }

    /* Footer Styling */
footer {
    background-color: #4e4e4e;;
    color: #d6d3d3;
    font-size: 1em;
    line-height: 2.5em;
    margin-top: 2em;
    padding: 1em 0;
    text-align: center;
}

footer p {
    font-size: 0.9em;
}


footer a {
    color: #d6d3d3; 
    text-decoration: underline; 
}

footer a:hover {
    color: rgb(149, 148, 150); 
}
