/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;

}

/* Header Styling */
header {
    background-color: #f1bcc5;
    color: #4e4e4e;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    font-size: 4em;
    margin-bottom: 0.2em;
    padding-top: 0.5em;
}

/* Navigation Bar */
nav {
    display: flex;          
    background-color: #4e4e4e;
    padding: 0.5em 0;
    justify-content: center; 
}


nav h2 {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 2em;
    transition: color 0.3s ease;
}

/* Main Section */
main {
    width: 70%;
    margin: 0 auto;
}

/* Game Section Layout */
.game {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    flex: 1 1 auto;
}


.english-words, .japanese-words {
    display: flex;
    flex-direction: column;
    width: 25%; 
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}


button {
    padding: 10px 20px;
    background-color: rgb(241, 188, 197);
    color: #4e4e4e;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    width: 30%;
    white-space: normal; 
    overflow-wrap: break-word; 
    text-align: center; 
    box-sizing: border-box;
    border: 1px solid #353535; 

    
    border-radius: 10px; 
}


button:hover {
    background-color: #f7aab8;
}

button.word {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 200px; /* Fixed width */
    height: 60px; /* Fixed height */
    font-size: 1.4em; 
    padding: 50px; 
    margin: 5px 0;
    background-color: #f3d2d8;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-sizing: border-box; 
}

button.word:hover {
    background-color: #f7aab8;
}

button.selected {
    background-color: #f7aab8;
}

button.correct {
    background-color: #cccccc;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

button.incorrect {
    background-color: #f8d7da;
}


/* Apply new styles for the end game buttons */


/* Style buttons */

#end-game-buttons {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 50px; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}

/* Style buttons */
.end-game-button {
    padding: 15px 30px 50px;
    font-size: 1.3em;
    background-color: #f3d2d8;
    color: #4e4e4e;
    border: 1px solid #353535;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    height: auto;
}


/* Button hover effect */
.end-game-button:hover {
    background-color: #f1bcc5;
}

/* Remove focus outline */
.end-game-button:focus {
    outline: none;
}

/* Button hover effect */
.end-game-button:hover {
    background-color: #f7aab8;
}

/* Remove focus outline */
.end-game-button:focus {
    outline: none;
}


.end-game-button:hover {
    background-color: #f7aab8;
}

.end-game-button:focus {
    outline: none;
}



/* Style for the link */
.back-to-conversation, .back-to-main {
    text-align: center;
}

.back-to-conversation a, .back-to-main a  {
    text-decoration: none; /* Remove underline */
    color: #353535; /* Link color */
    font-size: clamp(0.9rem, 2.5vw, 1em); /* Responsive link font size */
    font-weight: bold; /* Make the link bold */
    transition: color 0.3s ease; /* Smooth color transition */
    line-height: 3.5em;
}

.back-to-main a {
    color: gray;
    font-size: 1.2em;
}

/* Hover effect for the link */
.back-to-conversation a:hover,.back-to-main a:hover {
    color: rgb(126, 31, 255); /* Change color on hover */
}

/* Active state for the link */
.back-to-conversation a:active, back-to-main a:active  {
    color: rgb(126, 31, 255); /* Change color when clicked */
}

/* Footer Styling */
footer {
    background-color: #4e4e4e;
    color: #f9f9f9;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer p {
    font-size: clamp(0.8rem, 2.5vw, 1em); /* Responsive footer font size */
}


/* Responsive Design */

/* For screen 350px and below */

    @media (max-width: 350px) {
        .game, #end-game-buttons  {
            flex-direction: column; /* Stack the sections vertically */
        }
    
        .english-words, .japanese-words {
            width: 100%; /* Make the sections take full width */
            margin-bottom: 10px; /* Add some spacing between the sections */
        }


    }

/* For screens 375px and below */
@media (max-width: 375px) {

    .game.section {
        margin: 15px auto;
        justify-content: space-between; /* Maintain equal space between columns */
        width: 90%;
    }

    button.word {
        box-sizing: border-box;
        height: 50px; /* Fixed height */
        font-size: 0.5em;
    }
}

/* For screens 480px and below */
@media (max-width: 480px) {
    .game {
        width: 70%;
        margin: 15px auto;
        justify-content: space-between; /* Maintain equal space between columns */
        
    }

    button.word {
        width: 130px; /* Fixed width */
        height: 60px; /* Fixed height */
        font-size: 1em;
        padding: 8px;
        overflow-wrap: break-word;
    }
}

/* For screens 670px and below */
@media (max-width: 670px) {
    .game {
        width: 70%;
        margin: 15px auto;
        justify-content: space-between; /* Maintain equal space between columns */
    }
}

    button.word {
        width: 140px; /* Fixed width */
        height: 60px; /* Fixed height */
        font-size: 1em;
        padding: 10px;
    }

    #end-buttons {
        flex-direction: column; 
        gap: 10px; 
    }

    .end-game-button {
        font-size: 1em;
        width: 120px;
        height: 60px;
    }