/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;

}

/* Header Styling */
header {
    background-color: #f1bcc5;
    color: #4e4e4e;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    font-size: 4em;
    margin-bottom: 0.2em;
    padding-top: 0.5em;
}

/* Subheader */
.subheader {
    display: flex;          
    background-color: #4e4e4e;
    padding: 0.5em 0;
    justify-content: center; 
}


.subheader h2 {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 2em;
    transition: color 0.3s ease;
}

/* Main Section */
main {
    width: 70%;
    margin: 0 auto;
}

.lessons {
    margin-top: 20px;
}

.conversations, .conversations-japanese {
    /* Center the box itself */
    display: flex;
    flex-direction: column;
    margin: auto; 
    max-width: 500px; 
    padding: 30px;
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    
}

.conversations p, .conversations-japanese p {
    margin: 1em 0.5em 1em 1.5em;
    font-size: 1.5em;
}

.conversations-japanese {
        font-size: 0.8em;

}


/* Button Styling */


.listen {
    background-color: #f3d2d8; 
    color: #353535;
    border: 1px solid #050505;
    padding: 10px 20px; 
    font-size: 1em; 
    border-radius: 5px; 
    margin: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    max-width: 100%;
    align-self: center;  /* Align button to the right */
    margin-top: 2em; 
}

/* Hover and Active States */
.listen:hover {
    background-color:  #f7aab8; 
    transform: scale(1.05);
}

.listen:active {
    background-color: rgb(241, 188, 197);
    transform: scale(0.98); /* Slightly shrinks the button on click */
}

.back-to-main {
    font-size: 1.1em;
    text-align: center; /* Center the text */
    margin-top: 30px; /* Add some space from the content above */
}

#translation {
    text-align: center;
    margin: 0;
    margin-top: 1em;
    padding: 0;
}

.p #translation {
    font-size: 0.8m;
}

#translation a {
    color: #353535;
    text-decoration: none;
    font-size: 0.8em;

}

#translation a:hover {
    text-decoration: underline;
    color: rgb(126, 31, 255);
}

#translation a:active {
    color: #353535
}


/* Style for the link */
.back-to-main a {
    text-decoration: none; 
    color: #353535; 
    font-size: 16px; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

/* Hover effect for the link */
.back-to-main a:hover {
    color: rgb(126, 31, 255); 
    text-decoration: underline;
}

/* Active state for the link */
.back-to-main a:active {
    color: rgb(126, 31, 255); 
}

.game-button {
    text-align: center;
    padding: 20px;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}

.game-button-text {
    background-color: #f3d2d8; 
    color: #353535;
    border: 1px solid #050505;
    padding: 10px 20px; 
    font-size: 1.5em; 
    border-radius: 5px; 
    margin: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 100%;
    align-self: center; 
    margin-top: 2em; 
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
    }
    

    /* Hover and Active States */
    .game-button-text:hover {
        background-color: #f7aab8; 
        transform: scale(1.05);
    }

    .game-button-text:focus {
        outline: none; 
    }


/* Responsive Design */

/* For screens 375px and below */

@media (max-width: 375px) {
    @media (max-width: 480px) {

        header {
            font-size: 0.5em;
        }
    
        nav {
            font-size: 0.5em;
        }
        
        section {
            margin: 20px;
        }
        
        .conversations {
            padding: 5px;
            border-radius: 5px; 
       
        }
        
        .conversations p {
            margin: 0.5em 0.25em 0.5em 0.75em;
            font-size: 1.2em;
        }
    
        .listen {
            width: 40%;
            margin-bottom: 1em;
        }
       
    
    }
 
}

/* For screens 480px and below */
@media (max-width: 480px) {

    header {
        font-size: 0.7em;
    }

    nav {
        font-size: 0.7em;
    }
    
    section {
        margin: 20px;
    }
    
    .conversations {
        padding: 40px 20px 20px 40px;
        border-radius: 5px; 
   
    }
    
    .conversations p {
        margin: 0.5em 0.25em 0.5em 0.75em;
        font-size: 1.2em;
    }

    .listen {
        width: 35%;
        margin-bottom: 1em;
    }
   

}

/* For Screens 670px and below*/
@media (max-width: 670px) {
   
}

/* For screens 768px and below */
@media (max-width: 768px) {

}

/*For screens from 769px - 1023px */

@media (min-width: 769px) and (max-width: 1023px) {
 
}

/* For screens 1024px and above (Large screens like TVs) */
@media (min-width: 1024px) {
    .lessons {
        margin-top: 30px;
    }
    
    
}


/* For screens 1200px and above (Large screens like TVs) */
@media (min-width: 1200px) {
    .lessons {
        margin-top: 50px;
    }

}


/* Footer Styling */
footer {
    background-color: #4e4e4e;;
    color: #d6d3d3;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
    line-height: 2.5em;
    font-size: 1em;
}

footer p {
    font-size: 0.9em;
}


footer a {
    text-decoration: underline; 
    color: #d6d3d3; 
}

footer a:hover {
    color: rgb(149, 148, 150); 
}